html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .75vh;
  padding: 8px;
  font-family: 'Bungee Shade', cursive;
  color: #fff;
  user-select: none;
}

body::before {
  z-index: 100;
  content: attr(data-lives);
  position: absolute;
  bottom: 24px;
  right: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
  mix-blend-mode: difference;
}

body::after {
  content: 'COOL';
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vmin;
}

body.win::after {
  display: block;
}

.my_social {
  position: absolute;
  top: 425px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

div {
  border: 1px solid #fff;
  height: 2.5vh;
}

@media (min-width: 400px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
  }

  div {
    height: 3.5vh;
  }
}

div:nth-of-type(1),
div:nth-of-type(2),
div:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
}

div:nth-of-type(2) {
  opacity: .6;
}

div:nth-of-type(3) {
  opacity: .3;
}

div:nth-of-type(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 72px;
  background: #fff;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

/*.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
